@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
:root {
	--background-primary: #f8fafc;
	--text-primary: #333;
	--text-secondary: #666;
	--text-inverse: #fff;
	--github-color: #151b23;
}

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100vh;

	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	background-color: var(--background-primary);
	color: var(--text-primary);

	display: flex;
	flex-direction: column;
}
main {
	height: 100%;
}
.dark {
	--background-primary: #262626;
	--text-primary: #fff;
	--text-secondary: #ccc;
	--text-inverse: #333;
}
.code-container {
	font-family: 'Inter', sans-serif;
}
